<h2>Welcome to your Profile</h2></p>

  <h3>What would you like to do?</h3>
    <form action="/projects/new" method=get>
    <input type="submit" class="button" value="Create a sewing project"/>
    </form>
    <form action="/projects" method=get>
    <input type="submit" class="button" value="View your sewing projects"/>
    </form>
    <form action="/logout" method=get>
    <input type="submit" class="button" value="Logout"/>
    </form>
</div>