<h3>All Sewing Projects</h3>

<% @project.each.with_index(1) do | project, index| %>
    <p>
        <%= index %> <br>
        <strong>Name: </strong><%= project.name %></h3><br>
        <strong>Materials: </strong><%= project.material_names %><br>
        <strong>Instructions: </strong><%= project.instructions %><br><br>
    </p>
<% end %>
