<h1>Create a sewing project</h1>

<div>
  <form action="/projects" method="post">
    <label for="name"><strong>Project Name:</strong></label>
    <input type="text" id="name" name="name" required>
    <br></br>
    <br></br>
    <label for="material_names"><strong>Materials:</strong></label></br><br>
    <input type ="text" name="material_names[][name]" class="materials" required>
    <br>
    <input type ="text" name="material_names[][name]" class="materials">
    <br>
    <input type ="text" name="material_names[][name]" class="materials">
    <br>
    <label><strong>Instructions:</strong></label><br />
    <textarea name="instructions" id="instructions" required></textarea>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
