<h3>Create a New Project</h3>

<form action="/projects" method="post">
<label>Name: </label><input type="text" name="project]name]">
<br></br>
<label>Materials: </label><input type="text" name="project[materials]">
<br></br>
<label>Instructions: </label><input type="text" name="project[instuctions]">
<br></br>

<input class="btn" type="submit" value="Submit">
</form>